/* DESIGN SYSTEM */
/* 

FONT-SIZE:
large = 4.5rem


COLORS:
#030712

SPACING:
Padding = 4.7rem


SHADOW:

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}
