/* DESIGN SYSTEM */
/* 

FONT-SIZE:
large = 4.5rem


COLORS:
#030712

SPACING:
Padding = 4.7rem


SHADOW:

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.container {
  /* padding: 4rem; */
}
