.hero-section {
  /* FILL THE ENTIRE SECTION */
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* FILL THE ENTIRE SECTION 02 */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 1)
    ),
    url(media/image\ 02.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero {
  max-width: 56.9rem;
  margin: 0 auto;
}

.hero-img-box {
  max-width: 100%;
  margin: 0 auto;
}

.hero-img {
  max-width: 100%;
  object-fit: fill;
}
